
<div class="row">
  <div class="col">
    <h2><%= @generator.name %> NOID Generator</h2>
  </div>
</div>

<% if @generator.name == "Bulletin" %>
<div class="row">
  <div class="col">
    <p style="font-size: larger;">For Use With Bulletin Photographs Only.</p>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col">

    <%= simple_form_for @generator do |f| %>
    <%= f.hidden_field :lock_version %>

    <% unless (["Bulletin", "Mosley Photographs"].include? @generator.name) %>
      <% project_set = @generator.projects.map { |p| ["#{p.name} (#{p.code}#{p.label})", p.id] } %>
      <%= f.input :project_id,
                  as: :select,
                  collection: project_set,
                  include_blank: "Select a project",
                  required: true,
                  label: "Project",
                  input_html: { id: "generator_project_id" },
                  wrapper_html: { data: { testid: "project-select" } },
                  hint: "'Z', 'X', or 'JZ' delimiters will be automatically appended" %>
    <% end %>

    <% if @generator.name == "Templana (Complex)" %>
      <%= f.input :class_code, label: "Classification Code", required: true %>
    <% end %>
    
    <% if @generator.name == "Bulletin" %>
      <%= f.input :prefix, as: :select, label: "Collection series", collection: ["B","P","S","V"], required: true %>
      <%= f.input :suffix, as: :select, label: "Image rights holder (publisher)", collection: ["A","B","D","I","M","R"], required: true %>
    <% end %>
    
    <% if @generator.name == "Mosley Photographs" %>
      <%= f.input :picture_code, as: :string, label: "Picture Code", required: true %>
      <%= f.input :date_taken, as: :string, label: "Date", input_html: { minlength: 8, maxlength: 8 }, required: true,
                  hint: "numbers only, year month day: 20230131" %>
    <% end %>

    <p style="margin-top: 35px">
      <%= f.button :submit, "Generate NOID", class: "btn btn-secondary" %>
    </p>

    <% end %>
  </div>
</div>

<% unless bulletin_user? %>
  <div class="row">
    <div class="col">
      <%= link_to 'Back', generators_path %>
    </div>
  </div>
<% end %>
