
<div class="row">
  <div class="col">
    <h2><%= @generator.name %> NOID Generator</h2>
  </div>
</div>

<% if @generator.name == "Bulletin" %>
<div class="row">
  <div class="col">
    <p style="font-size: larger;">For Use With Bulletin Photographs Only.</p>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col">

    <%= simple_form_for @generator do |f| %>

    <% if @generator.last_date == Time.now.strftime("%m") %>
      <% new_noid = @generator.noid.to_i + 1 %>
    <% else %>
      <% new_noid = 1 %>
    <% end unless @generator.name == " Mosley Collection" %>

    <% last_date = Time.now.strftime("%m") %>

    <%= f.input :last_date, as: :hidden, input_html: { value: last_date } %>
    <%= f.input :noid, as: :hidden, input_html: { value: new_noid } %>

    <% unless @generator.name == "Bulletin" || @generator.name == "Mosley Photographs" %>
      <% project_set = @generator.projects.map { |p| [p.name, p.code+p.label] }.to_a  if @generator.name == "Bulletin" %>
      <%= f.input :project, as: :select, collection: project_set, selected: project_set.detect{ |p| p[1] == @selected_project }, required: true, hint: "'Z', 'X', or 'JZ' delimiters will be automatically appended" %>
    <% end %>

    <% if @generator.name == "Templana (Complex)" %>
      <%= f.input :class_code, label: "Classification Code", required: true %>
    <% end %>
    
    <% if @generator.name == "Bulletin" %>
      <%= f.input :prefix, as: :select, label: "Collection series", collection: ["B","P","S","V"], required: true %>
      <%= f.input :suffix, as: :select, label: "Image rights holder (publisher)", collection: ["A","B","D","I","M","R"], required: true %>
    <% end %>
    
    <% if @generator.name == "Mosley Photographs" %>
      <%= f.input :picture_code, as: :string, label: "Picture Code", required: true %>
      <%= f.input :date_taken, as: :string, label: "Date", input_html: { minlength: 8, maxlength: 8 }, required: true,
                  hint: "numbers only, year month day: 20230131" %>
    <% end %>

    <p style="margin-top: 35px">
      <%= f.button :submit, "Generate NOID", class: "btn btn-secondary" %>
    </p>

    <% end %>
  </div>
</div>

<% unless bulletin_user? %>
  <div class="row">
    <div class="col">
      <%= link_to 'Back', generators_path %>
    </div>
  </div>
<% end %>
