  <div class="row">
    <div class="col">
      <%= form_with(model: project, local: true) do |form| %>
      <% if project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
          <ul>
          <% project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= simple_form_for(@project) do |f| %>
        <%= f.input :name, as: :string, label: "Project Name", required: true %>
        <%= f.input :label, as: :string, label: "Project Label", required: true %>
        <%= f.input :code, as: :string %>
        <%= f.association :generator %>

        <%= f.button :submit, class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
